@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/fonts/JetBrainsMono-VariableFont_wght.ttf');
  font-weight: 100 800;
  font-style: normal;
}

@theme {
  /* Colors with numbers consist of 2, "color-1" which is brighter and "color-2" which is darker */
  --color-light-1: #F9F9EA;
  --color-light-2: #E8E8D5;
  --color-dark-1: #413D2D;
  --color-dark-2: #2E2C23;
  --color-gray: #C1C1C1;
  --color-yellow-1: #98CE14;
  --color-yellow-2: #648610;
  --color-blue-1: #7BB0F2;
  --color-blue-2: #1A599E;
  --color-red-1: #E32525;
  --color-red-2: #8E1B1B;
  --color-green-1: #21CA3F;
  --color-green-2: #17852B;
}

html {
  font-size: 10px;
}

body {
  font-family: 'JetBrains Mono';
  background-color: #F9F9EA;
  max-width: 100vw;
  height: 100svh;
  margin: 0 auto;
  color: #413D2D;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
  @media (max-width: 250px) {
    position: static;
    min-width: 250px;
  }
}

p {
  line-height: 2.6rem;
}

input:focus, button:focus {
  outline: none;
}

*{
  transition: ease .2s;
}